.mastermind08{
    background-color: #FD0C49;
    color: white;
    opacity: 0.8;
}
.mastermind{
    background-color: #FD0C49;
    color: white;
}
.mastermindGray80{
    background-color: gray;
    color: white;
    opacity: 0.8;
}
.mastermindGray60{
    background-color: gray;
    color: white;
    opacity: 0.6;
}
.mastermindGray80{
    background-color: gray;
    color: white;
    opacity: 0.8;
}

.img-100alto{
    height: 100%;
}